<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ site_name }}</title>
  <style type="text/css">
    @media only screen and (max-width: 620px) {
    table[class=body] h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important; }
    table[class=body] p,
    table[class=body] ul,
    table[class=body] ol,
    table[class=body] td,
    table[class=body] span,
    table[class=body] a {
    font-size: 16px !important; }
    table[class=body] .wrapper,
    table[class=body] .article {
    padding: 10px !important; }
    table[class=body] .content {
    padding: 0 !important; }
    table[class=body] .container {
    padding: 0 !important;
    width: 100% !important; }
    table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important; }
    table[class=body] .btn table {
    width: 100% !important; }
    table[class=body] .btn a {
    width: 100% !important; }
    table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important; }}
    @media all {
    .ExternalClass {
    width: 100%; }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%; }
    .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important; }
    .btn-primary table td:hover {
    background-color: #4558c9 !important; }
    .btn-primary a:hover {
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important; } }
  </style>
</head>
<body class="" style="background-color:#f6f6f6;font-family:sans-serif;-webkit-font-smoothing:antialiased;font-size:14px;
line-height:1.4;margin:0;padding:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse:separate;mso-table-lspace:0pt;
mso-table-rspace:0pt;background-color:#f6f6f6;width:100%;">
  <tr>
    <td style="font-family:sans-serif;font-size:14px;vertical-align:top;">&nbsp;</td>
    <td class="container" style="font-family:sans-serif;font-size:14px;vertical-align:top;display:block;max-width:580px;
    padding:10px;width:580px;Margin:0 auto !important;">
      <div class="content" style="box-sizing:border-box;display:block;Margin:0 auto;max-width:580px;padding:10px;">
        <span class="preheader" style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;
        overflow:hidden;mso-hide:all;visibility:hidden;width:0;">{{user}}, пожалуйста, активируйте аккаунт на <a href="{{ protocol }}://pingvin.online">{{ site_name }}</a></span>
        <table class="main" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;background:#fff;border-radius:3px;width:100%;">
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;
              mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
                <tbody>
                <tr>
                  <td align="center" style="padding:32px 0;text-align:center">
                    <a href="{{ protocol }}://pingvin.online" style="text-decoration:none;"
                       target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q={{ protocol }}://pingvin.online">
                      <img src="{{ protocol }}://pingvin.online/public/img/logo_email.png"
                           style="vertical-align:top" width="200" height="" alt="">
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="wrapper" style="font-family:sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding:20px;">
              <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
                <tr>
                  <td style="font-family:sans-serif;font-size:14px;vertical-align:top;">
                    <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
                      Привет, {{user}},</p>
                    <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
                      Недавно вы создали аккаунт на <a href="{{ protocol }}://pingvin.online">{{ site_name }}</a>.
                      У нас необходимо активировать аккаунт после его создания.
                      Пожалуйста, сделайте это.
                    </p>
                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse:separate;mso-table-lspace:0pt;
                    mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
                      <tbody>
                      <tr>
                        <td align="left" style="font-family:sans-serif;font-size:14px;vertical-align:top;padding-bottom:15px;text-align:center;">
                          <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;
                          mso-table-rspace:0pt;width:100%;width:auto;">
                            <tbody>
                            <tr>
                              <td style="font-family:sans-serif;font-size:14px;vertical-align:top;background-color:#ffffff;
                              border-radius:5px;text-align:center;background-color:#4558c9;text-align:center;">
                                <a href="{% block reset_link %}{{ protocol }}://{{ domain }}/{{ url }}{% endblock %}" target="_blank"
                                   style="text-decoration:underline;background-color:#4558c9;
                                border:solid 1px #4558c9;border-radius:5px;box-sizing:border-box;color:#4558c9;cursor:pointer;display:inline-block;
                                font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;
                                background-color:#4558c9;border-color:#4558c9;color:#ffffff;">Активировать аккаунт</a> </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
                      После активации аккаунта вам необходимо войти в систему, указав e-mail и пароль, заданные при регистрации.
                    </p>
                    <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
                      Я очень надеюсь, что  <a href="{{ protocol }}://pingvin.online">{{ site_name }}</a>
                      поможет в вашей жизни. Мы сделаем все для того, что бы вы чувствали себя комфортно при использовании
                      <a href="{{ protocol }}://pingvin.online">{{ site_name }}</a>
                    </p>
                    <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
                      С уважением, Сергей.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer" style="clear:both;padding-top:10px;text-align:center;width:100%;">
          <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
            <tr>
              <td class="content-block powered-by" style="font-family:sans-serif;font-size:14px;vertical-align:top;
              color:#999999;font-size:12px;text-align:center;">
                <a href="{{ protocol }}://pingvin.online" style="color:#3498db;color:#999999;font-size:12px;text-align:center;
                text-decoration:none;">{{ site_name }}</a>.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
    <td style="font-family:sans-serif;font-size:14px;vertical-align:top;">&nbsp;</td>
  </tr>
</table>
</body>
</html>